/* body{
    background-color:  #dce0ea;
} */

div{
   /* max-width: 700px;*/
    /* height: 200px;
    background-color: navy;
    margin: 20px 20px; */

}

br{
    color: gray;
    font-weight: 400;
}

#aboutMeP{
    color: azure;
    font-family:"Roboto",sans-serif;
    text-align: center;
}

nav{
    
    text-decoration: none;

}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;

}

nav li{
    text-decoration: none;
}

nav a{
    color: #B0B2B8;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 200;
    transition: all 0.3s ease;
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
}


nav a:hover{
    color: #5b567c;
    text-decoration: none;
    transform: scale(1.05);
    /* box-shadow:  0 4px 8px rgba(254, 3, 3, 0.2); */
    font-weight: 500;


}


#title-text{
    text-align: center;
    margin-bottom: 20px;
    color: #FFFDD0;
}

#aboutMe{
    background-color: navy;
    align-items: center;
    padding-bottom: 10%;

}


#aboutMe #social-links {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px;
}

#aboutMe #social-links a{
     color: #FFFDD0;
    
}

#aboutMe #social-links i:hover{
     color: orange;
     transform: scale(1.25);
     transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
     
    
}

.social-btn i{
    font-size: 1.4rem;
    align-items: center;
    
}

#aboutMe h1{
    text-align: center; 
    color: #FFFDD0 ; 
    font-size: 2.5em;  
    font-family:"Roboto",sans-serif;
    padding-top: 10%;

}


#experience{

}

#projects{
    background-color: #10173A;

}

#projectButtons{
    transform: scale(1.4);
}

#projectButtons:hover{
   color: orange;
   transform: scale(1.6);
   transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;

}

#contactMe{

}

/* Extra small devices (phones, less than 600px) */
@media (max-width: 599px) {
  body {
    background-color: lightblue;
  }
}

/* Small devices (phones and tablets, 600px and up) */
@media (min-width: 600px) and (max-width: 767px) {
  body {
    background-color: lightgreen;
  }
}

/* Medium devices (tablets in landscape, 768px and up) */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: lightyellow;
  }
}

/* Large devices (laptops/desktops, 1025px and up) */
@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    background-color: lightcoral;
  }
}

/* Extra large devices (large desktops, 1441px and up) */
@media (min-width: 1441px) {
  body {
    background-color: lightgray;
  }
}
