body{
}

div{
   /* max-width: 700px;*/
    /* height: 200px;
    background-color: navy;
    margin: 20px 20px; */

}

#aboutMeP{
    color: azure;
    font-family:"Roboto",sans-serif;
    text-align: center;
}

nav{
    
    text-decoration: none;

}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;

}

nav li{
    text-decoration: none;
}

nav a{
    color: #B0B2B8;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 200;
    transition: all 0.3s ease;
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
}


nav a:hover{
    color: #5b567c;
    text-decoration: none;
    transform: scale(1.05);
    /* box-shadow:  0 4px 8px rgba(254, 3, 3, 0.2); */
    font-weight: 500;


}


#title-text{
    color: #FFFDD0;
}

#aboutMe{
    background-color: navy;
    align-items: center;
    padding-bottom: 10%;

}


#aboutMe #social-links {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px;
}

#aboutMe #social-links a{
     color: #FFFDD0;
    
}

#aboutMe #social-links i:hover{
     color: orange;
     transform: scale(1.25);
     transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
     
    
}

.social-btn i{
    font-size: 1.4rem;
    align-items: center;
    
}

#aboutMe h1{
    text-align: center; 
    color: #FFFDD0 ; 
    font-size: 2.5em;  
    font-family:"Roboto",sans-serif;
    padding-top: 10%;

}


#experience{

}

#projects{

}

#contactMe{

}